RewriteEngine On

RewriteRule ^favicon\.ico$ /asset/favicon.ico [L,R=301]

RewriteCond %{REQUEST_URI} !^/asset/.*$
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_URI} !^/asset/.*$
RewriteRule ^(.+)$ index.php [L,QSA]
