RewriteEngine On

RewriteRule ^favicon\.ico$ /static/favicon.ico [L,R=301]

RewriteCond %{REQUEST_URI} !^/static/.*$
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_URI} !^/static/.*$
RewriteRule ^(.+)$ index.php [L,QSA]
