.btn {
  box-shadow: none !important;
}

input,
select {
  box-shadow: none !important;
}

.vh-min-100 {
  min-height: 100vh;
}

.dropdown-header {
  cursor: default;
}

.iframe {
  position: relative;
  width: 100%;

  * {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.b-toaster.b-toaster-top-right {
  margin-top: 3.125rem;
}
